<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF등록하기::PDFLO</title>
    <link rel="stylesheet" href="../css/inputpage_00.css">
    <link rel="stylesheet" href="../css/inputpage_3.css">


</head>

<body>
    <div class="fullbox">
        <div class="status_bar_area">
            <progress value="42" max="100"></progress>
        </div>
        <div class="container">
            <div class="index">
                <div class="index_text">
                    <h1 class="index_title">기본 정보</h1>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">PDF 자료 개요</a>
                        <img class="circle" src="../../img/circle_1.svg" alt="완료">
                    </div>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">셀러 정보 개요</a>
                        <img class="circle" src="../../img/circle_1.svg" alt="완료">

                    </div>
                </div>
                <div class="index_text">
                    <h1 class="index_title">스토리</h1>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle_on" href="">창작 스토리</a>
                        <img class="circle" src="../../img/circle_1.svg" alt="완료">

                    </div>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">셀러 스토리</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                </div>
                <div class="index_text">
                    <h1 class="index_title">PDF 자료</h1>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">PDF 목차</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">PDF 미리보기/업로드</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                </div>
                <div class="index_text">
                    <h1 class="index_title">계좌 설정</h1>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">계좌 설정</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                </div>
            </div>
            <div class="inputarea">
                <h1 class="input_title">창작 스토리</h1>

                <div class="inputbox">
                    <div>
                        <p>1. PDF 주제 소개: 어떤 자료인가요?</p>
                        <input class="textbox1" type="text" minlength="1" maxLength="20" placeholder="PDF 주제를 요약해 설명해주세요. (ex.세상에 단 하나뿐인 디자인 모음집을 소개합니니다)">
                        <textarea class="textbox3" name="" id="textbox3" minlength="20"  placeholder="PDF 주제에 대해 설명해주세요."></textarea>
                        <div class="buttonarea">
                            <button class="add_img" type="button">이미지 추가</button>
                        </div>
                    </div>
                </div>

                <div class="inputbox">
                    <div>
                        <p>2. 창작 배경 및 계기: 어떻게 PDF 자료를 만들게 되었나요?</p>
                        <input class="textbox1" type="text" minlength="1" maxLength="20" placeholder="창작 배경 및 계기를 요약해 설명해주세요. (ex.왜 디자이너는 매번 일일히 자료를 찾아야하는걸까?)">
                        <textarea class="textbox3" name="" id="textbox3" minlength="20"  placeholder="창작 배경 및 계기에 대해 설명해주세요."></textarea>
                        <div class="buttonarea">
                            <button class="add_img" type="button">이미지 추가</button>
                        </div>
                    </div>
                </div>

                <div class="inputbox">
                    <div>
                        <p>3. 내 PDF 자료만의 특징: 다른 정보들과 차별화되는 내 자료만의 장점은 무엇인가요?</p>
                        <input class="textbox1" type="text" minlength="1" maxLength="20" placeholder="내 PDF 자료만의 차별점을 요약해 설명해주세요. (ex. 학원비 20만원? 단 돈 2만원 자료로 다 얻어가자!)">
                        <textarea class="textbox3" name="" id="textbox3" minlength="20" placeholder="내 PDF 자료만의 차별점에 대해 설명해주세요."></textarea>
                        <div class="buttonarea">
                            <button class="add_img" type="button">이미지 추가</button>
                        </div>
                    </div>
                </div>

                <div class="buttonarea">
                    <button class="bt_prev" type="button">이전</button>
                    <button class="bt_next" type="button">다음</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>