<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF등록하기::PDFLO</title>
    <link rel="stylesheet" href="../css/inputpage_00.css">
    <link rel="stylesheet" href="../css/inputpage_5.css">


</head>

<body>
    <div class="fullbox">
        <div class="status_bar_area">
            <div class="status_bar_area_in">
                <div class="statusbar_margin"></div>
                <progress value="71" max="100"></progress>
                <div class="statusbar_margin"></div>
            </div>
        </div>
        <div class="container">
            <div class="container_in">
                <div class="index">
                    <div class="index_text">
                        <h1 class="index_title">기본 정보</h1>
                        <div class="index_subtitlebox">
                            <a class="index_subtitle" href="">PDF 자료 개요</a>
                            <img class="circle" src="../../img/circle_1.svg" alt="완료">
                        </div>
                        <div class="index_subtitlebox">
                            <a class="index_subtitle" href="">셀러 정보 개요</a>
                            <img class="circle" src="../../img/circle_1.svg" alt="완료">

                        </div>
                    </div>
                    <div class="index_text">
                        <h1 class="index_title">스토리</h1>
                        <div class="index_subtitlebox">
                            <a class="index_subtitle" href="">창작 스토리</a>
                            <img class="circle" src="../../img/circle_1.svg" alt="완료">

                        </div>
                        <div class="index_subtitlebox">
                            <a class="index_subtitle" href="">셀러 스토리</a>
                            <img class="circle" src="../../img/circle_1.svg" alt="완료">

                        </div>
                    </div>
                    <div class="index_text">
                        <h1 class="index_title">PDF 자료</h1>
                        <div class="index_subtitlebox">
                            <a class="index_subtitle_on" href="">PDF 목차</a>
                            <img class="circle" src="../../img/circle_1.svg" alt="완료">

                        </div>
                        <div class="index_subtitlebox">
                            <a class="index_subtitle" href="">PDF 미리보기/업로드</a>
                            <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                        </div>
                    </div>
                    <div class="index_text">
                        <h1 class="index_title">계좌 설정</h1>
                        <div class="index_subtitlebox">
                            <a class="index_subtitle" href="">계좌 설정</a>
                            <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                        </div>
                    </div>
                </div>
                <div class="inputarea">
                    <div class="inputarea_in">
                        <h1 class="input_title">PDF목차</h1>

                        <div class="inputbox">
                            <div>
                                <p>PDF 자료의 목차를 상세히 입력해주세요</p>
                                <textarea class="textbox3" name="" id="textbox3" placeholder=" ex.

1장: 디자인이란 무엇인가?
    1-1. 배경소개
    1-2. 튜터 이야기 

2장: 디자인의 기초
    2-1. 배경소개
    2-2. 튜터 이야기 
    2-1. 배경소개 
    2-2. 튜터 이야기 

3장: 폰트에 대해 
    3-1. 배경소개 
    3-2. 튜터 이야기"></textarea>
                            </div>
                        </div>

                        <div class="buttonarea">
                            <button class="bt_prev" type="button">이전</button>
                            <button class="bt_next" type="button">다음</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>