<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF등록하기::PDFLO</title>
    <link rel="stylesheet" href="../css/inputpage_00.css">
    <link rel="stylesheet" href="../css/inputpage_2.css">


</head>

<body>
    <div class="fullbox">
        <div class="status_bar_area">
            <progress value="28" max="100"></progress>
        </div>
        <div class="container">
            <div class="index">
                <div class="index_text">
                    <h1 class="index_title">기본 정보</h1>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">PDF 자료 개요</a>
                        <img class="circle" src="../../img/circle_1.svg" alt="완료">
                    </div>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle_on" href="">셀러 정보 개요</a>
                        <img class="circle" src="../../img/circle_1.svg" alt="미완료">

                    </div>
                </div>
                <div class="index_text">
                    <h1 class="index_title">스토리</h1>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">창작 스토리</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">셀러 스토리</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                </div>
                <div class="index_text">
                    <h1 class="index_title">PDF 자료</h1>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">PDF 목차</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">PDF 미리보기/업로드</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                </div>
                <div class="index_text">
                    <h1 class="index_title">계좌 설정</h1>
                    <div class="index_subtitlebox">
                        <a class="index_subtitle" href="">계좌 설정</a>
                        <img class="circle" src="../../img/circle_2.svg" alt="미완료">

                    </div>
                </div>
            </div>
            <div class="inputarea">
                <h1 class="input_title">셀러 정보 개요</h1>
                <div class="inputbox">
                    <p>프로필 이미지</p>
                    <div class="imagebox">
                        <div class="add">
                            <input class="add_bt" type="image" src="../../img/camera.svg" width="36px">
                        </div>
                    </div>
                    <div class="reset">
                        <input class="reset_bt" type="image" src="../../img/bt_reset.svg">
                    </div>

                </div>
                <div class="inputbox">
                    <p>셀러 이름 </p>
                    <input class="textbox1" type="text" minlength="1" maxLength="8" placeholder="이름을 입력하세요">
                </div>

                <div class="inputbox">
                    <p>연락처 </p>
                    <form action="">
                        <input class="textbox2" type="tel" pattern="[0-9]{11}" minlength="9" maxLength="13" placeholder="ex.01098765432">
                        <input type="submit" value="인증하기" class="bt_confirm" />
                    </form>
                </div>
                <div class="inputbox">
                    <div>
                        <p>셀러의 한 마디</p>
                        <textarea class="textbox3" name="" id="textbox3" minlength="3" maxLength="80" placeholder="PDF 판매 유도를 위한 한 마디를 작성해주세요.
ex. 제 경험담을 꾹꾹 눌러 담았습니다. 후회하시지 않게 열심히 준비했으니 망설이지 마시고 구매해주세요!"></textarea>
                    </div>

                </div>
                <div class="buttonarea">
                    <button class="bt_prev" type="button">이전</button>
                    <button class="bt_next" type="button">다음</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>