<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joinpage</title>
    <link rel="stylesheet" media="screen and (min-width: 1024px)" href="joinpage.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="joinpage1024.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="joinpage768.css">

</head>

<body class="body">
    <div class="box">
        <p class="login">회원가입</p>
        <div>
            <p class="name">이름(실명)</p>
            <form action="">
                <input type="text" name="name" class="name1" placeholder="&nbsp;&nbsp;&nbsp;이름을 입력해주세요">
            </form>
        </div>
        <div>
            <p class="id">이메일(아이디)</p>
            <form action="">
                <input type="text" name="adress" class="mailadress" placeholder="&nbsp;&nbsp;&nbsp;이메일 주소를 입력해주세요">
            </form>
        </div>
        <div>
            <p class="password1">비밀번호</p>
            <form action="">
                <input type="password" name="password" class="password" placeholder="&nbsp;&nbsp;&nbsp;비밀번호를 입력해주세요">
            </form>
            <form action="">
                <input type="password" name="password" class="password2" placeholder="&nbsp;&nbsp;&nbsp;비밀번호를 재입력해주세요">
            </form>
        </div>
        <div>
            <form action="">
                <input type="submit" class="submit" value="시작하기">
            </form>
        </div>
        
    </div>
</body>

</html>