<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page-1</title>
    <link rel="stylesheet" media="screen and (min-width: 1024px)" href="loginpage-1.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="loginpage-11024.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="loginpage-1768.css">

</head>

<body class="body">
    <div class="box">
        <p class="login">로그인</p>

        <div>
            <button class="yellow">
                <div class="kakao"></div>
                <div class="kakaotext">
                    <p>카카오톡으로 로그인</p>
                </div>
            </button>
        </div>
        <div>
            <button class="blue">
                <div class="facebook"></div>
                <div class="facebooktext">
                    <p>페이스북으로 로그인</p>
                </div>
            </button>
        </div>
        <div>
            <button class="gray">
                <div class="google"></div>
                <div class="googletext">
                    <p>구글로 로그인</p>
                </div>
            </button>
        </div>
        <p class="small">회원가입</p>
        <div class="line"></div>
        <p class="small2">이메일 로그인</p>
    </div>
</body>

</html>