<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page-2</title>
    <link rel="stylesheet" media="screen and (min-width: 1024px)" href="loginpage-2.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="loginpage-21024.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="loginpage-2768.css">

</head>

<body class="body">
    <div class="box">
        <p class="login">로그인</p>
        <div>
            <form action="">
                <input type="text" name="adress" class="mailadress" placeholder="&nbsp;&nbsp;&nbsp;이메일 주소를 입력해주세요">
            </form>
        </div>
        <div>
            <form action="">
                <input type="password" name="password" class="password" placeholder="&nbsp;&nbsp;&nbsp;비밀번호를 입력해주세요">
            </form>
        </div>
        <div>
            <form action="">
                <input type="submit" class="submit" value="로그인">
            </form>
        </div>
        <p class="small">비밀번호 찾기</p>
        <div class="line"></div>
        <p class="small2">회원가입</p>
    </div>
</body>

</html>