<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" media="screen and (min-width: 1025px)" href="style.css">
    <link rel="stylesheet" media="screen and (min-width: 1025px)" href="style1.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="mainpage1024.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="mainpage768.css">
    <style type="text/css">
        a {
            text-decoration: none
        }
    </style>

</head>

<body>
    <div class="red">
        <p class="text1">외출이 부담스럽다면? <br>집에서 지식얻고 돈도벌고!</p>
        <p class="text2">PDF사이트 신규런칭! 서비스를 자세히 알아보세요</p>
        <form action="more">
            <input type="button" value="자세히보기" class="search">
        </form>

    </div>
    <div class="pdf">
        <p class="text3">오픈 기념 무료 PDF</p>
        <p class="text4">신규 오픈 PDF 한정! 무료 구매 혜택을 드려요.</p>

        <div>
            <a href="">
                <div class="img1"></div>
            </a>
            <a class="img1-1" href="">한 번에 합격하는 자소서 꿀팁</a>
            <p class="img1-2">삼성전자, sk하이닉스 등 대기업 9군데 최초합의 비결</p>

            <a class="img1-3" href="">#실무</a>
            <a class="img1-4" href="">#자소서</a>
            <div>
                <form action="like">
                    <input type="button" class="filledheart" src="img/heart-pick.png">
            </div>
        </div>

        <div class="img2">
            <a class="img1-1" href="">한 번에 합격하는 자소서 꿀팁</a>
            <p class="img1-2">삼성전자, sk하이닉스 등 대기업 9군데 최초합의 비결</p>
            <a class="img1-3" href="">#실무</a>
            <a class="img1-4" href="">#자소서</a>
            <div>
                <form action="unlike">
                    <input type="button" class="unfilledheart" src="img/heart-nonpick.png">
            </div>
        </div>
        <div class="img3">
            <a class="img1-1" href="">한 번에 합격하는 자소서 꿀팁</a>
            <p class="img1-2">삼성전자, sk하이닉스 등 대기업 9군데 최초합의 비결</p>
            <a class="img1-3" href="">#실무</a>
            <a class="img1-4" href="">#자소서</a>
            <div>
                <form action="unlike">
                    <input type="button" class="unfilledheart" src="img/heart-nonpick.png">
            </div>
        </div>
    </div>
    <div class="pdf2">
        <p class="pdf2-1"> PDF로 부수입 만드는 방법</p>
        <p class="pdf2-2">PDF 자료, 나도 쉽게 만들어 업로드 할 수 있어요.</p>
    </div>
    <div class="pdf3">
        <p class="pdf3-1">실시간 인기순</p>
        <div class="img4">
            <a class="img1-1" href="">한 번에 합격하는 자소서 꿀팁</a>
            <p class="img1-2">삼성전자, sk하이닉스 등 대기업 9군데 최초합의 비결</p>
            <a class="img1-3" href="">#실무</a>
            <a class="img1-4" href="">#자소서</a>
            <div>
                <form action="like">
                    <input type="button" class="filledheart" src="img/heart-pick.png">
            </div>
        </div>
        <div class="img5">
            <a class="img1-1" href="">한 번에 합격하는 자소서 꿀팁</a>
            <p class="img1-2">삼성전자, sk하이닉스 등 대기업 9군데 최초합의 비결</p>
            <a class="img1-3" href="">#실무</a>
            <a class="img1-4" href="">#자소서</a>
            <div>
                <form action="unlike">
                    <input type="button" class="unfilledheart" src="img/heart-nonpick.png">
            </div>
        </div>
        <div class="img6">
            <a class="img1-1" href="">한 번에 합격하는 자소서 꿀팁</a>
            <p class="img1-2">삼성전자, sk하이닉스 등 대기업 9군데 최초합의 비결</p>
            <a class="img1-3" href="">#실무</a>
            <a class="img1-4" href="">#자소서</a>
            <div>
                <form action="unlike">
                    <input type="button" class="unfilledheart" src="img/heart-nonpick.png">
            </div>
        </div>
    </div>
    <div class="bottom">
    </div>
</body>

</html>