@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
    padding: 0;
    margin: 0;
}

.textbox1 {
    width: 600px;
    height: 44px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    opacity: 1;
    padding: 0px 14px 0px 14px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-c7c7c7);
    text-align: left;
    font: normal normal normal 13px/19px Noto Sans;
    letter-spacing: 0px;
    color: #535353;
    opacity: 1;
    margin: 18px 0px 14px 0px;
}

.textbox1::placeholder {
    color: #C7C7C7;
    ;
}



.textbox3::placeholder {
    color: #C7C7C7;
    ;
}





.add_img {
    width: 100px;
    height: 44px;
    /* UI Properties */
    background: var(--unnamed-color-535353) 0% 0% no-repeat padding-box;
    background: #535353 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 14px/22px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border: 0px;
    margin-bottom: 46px;

    position: relative;
    left: 530px;
    
}


.textbox3 {
    width: 600px;
    height: 230px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    opacity: 1;
    padding: 18px 14px 0px 14px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-c7c7c7);
    text-align: left;
    font: normal normal normal 13px/19px Noto Sans;
    letter-spacing: 0px;
    color: #535353;
    opacity: 1;
    margin: 18px 0px 14px 0px;


}



.inputbox_flex {
    display: flex;
}


.bt_next {
    width: 88px;
    height: 48px;
    background: var(--unnamed-color-e84949) 0% 0% no-repeat padding-box;
    background: #E84949 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    border: 0px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal bold 18px/27px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

@media (max-width: 768px) {

    .bt_next {
        margin: 46px 0px 0px 14px;
    }
}