.red {
    top: 80px;
    left: -15px;
    width: 1550px;
    height: 320px;
    border: 1px solid var(--unnamed-color-c7c7c7);
    background: transparent url('img/red.png') 0% 0% no-repeat padding-box;
    border: 1px solid #C7C7C7;
    opacity: 1;
    position: absolute;
}

.text1 {
    top: 50px;
    left: 600px;
    width: 372px;
    height: 100px;
    font: Bold 30px/40px var(--unnamed-font-family-noto-sans);
    text-align: center;
    font: Bold 30px/40px Noto Sans;
    letter-spacing: -1.52px;
    color: #FFFFFF;
    text-shadow: 0px 0px 50px #00000080;
    opacity: 1;
    position: absolute;
}

.text2 {
    top: 170px;
    left: 600px;
    width: 372px;
    height: 24px;
    font: Regular var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-noto-sans);
    text-align: center;
    font: Regular 18px/24px Noto Sans;
    font-size: 15px;
    letter-spacing: -0.36px;
    color: #FFFFFF;
    text-shadow: 0px 0px 30px #000000B2;
    opacity: 1;
    position: absolute;
}

.search {
    top: 260px;
    left: 720px;
    font: Regular var(--unnamed-font-size-10)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-noto-sans);
    text-align: center;
    font: Regular 10px/18px Noto Sans;
    font-size: 15px;
    letter-spacing: -0.32px;
    color: #535353;
    opacity: 1;
    position: absolute;
    width: 104px;
    height: 34px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    border: white;
    opacity: 1;
}

.pdf {
    top: 210px;
    left: 100px;
    width: 1000px;
    height: 200px;
    opacity: 1;
    position: absolute;
}

.text3 {
    top: 200px;
    left: 100px;
    width: 330px;
    height: 41px;
    font: Bold var(--unnamed-font-size-25)/var(--unnamed-line-spacing-41) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-313131);
    text-align: left;
    font: Bold 25px/41px Noto Sans;
    letter-spacing: 0px;
    color: #313131;
    opacity: 1;
    position: absolute;
}

.text4 {
    top: 250px;
    left: 100px;
    width: 400px;
    height: 27px;
    font: Regular var(--unnamed-font-size-6)/var(--unnamed-line-spacing-12) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-9f9f9f);
    text-align: left;
    font: Regular 6px/12px Noto Sans;
    letter-spacing: 0px;
    color: #9F9F9F;
    opacity: 1;
    position: absolute;
}


.img1 {
    top: 300px;
    left: 100px;
    width: 380px;
    height: 250px;
    background: transparent url('img/fountain-pen-1854169_1920-1.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 18px;
    opacity: 1;
    position: absolute;
}

.filledheart {
    top: 200px;
    left: 100px;
    width: 28px;
    height: 28px;
    background: transparent url('img/heart-pick.png') 0% 0% no-repeat padding-box;
    border: transparent;
    opacity: 1;
    position: relative;
}

.unfilledheart {
    top: 20px;
    left: 24px;
    width: 28px;
    height: 28px;
    background: transparent url('img/heart-nonpick.png') 0% 0% no-repeat padding-box;
    border: transparent;
    opacity: 1;
    position: absolute;
}

.img1-1 {
    top: 250px;
    width: 400px;
    height: 31px;
    text-align: left;
    font: SemiBold var(--unnamed-font-size-15)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-535353);
    font: bold 15px/30px Noto Sans;
    letter-spacing: 0px;
    color: #535353;
    opacity: 1;
    position: absolute;
    margin-top: 15px;
}

.img1-2 {
    top: 273px;
    width: 400px;
    height: 22px;
    font: Regular var(--unnamed-font-size-5)/var(--unnamed-line-spacing-15) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-9f9f9f);
    text-align: left;
    font: Regular 10px/15px Noto Sans;
    letter-spacing: 0px;
    color: #9F9F9F;
    opacity: 1;
    position: absolute;
    margin-top: 15px;
}

.img1-3 {
    top: 320px;
    width: 50px;
    height: 22px;
    background: var(--unnamed-color-c7c7c7) 0% 0% no-repeat padding-box;
    background: #C7C7C7 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    position: absolute;

    font: Regular var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: Regular 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.img1-4 {
    top: 320px;
    left: 60px;
    width: 65px;
    height: 22px;
    font: Regular var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: Regular 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    background: var(--unnamed-color-c7c7c7) 0% 0% no-repeat padding-box;
    background: #C7C7C7 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    position: absolute;
}

.img2 {
    top: 300px;
    left: 500px;
    width: 380px;
    height: 250px;
    background: transparent url('img/piggy-bank-968302_1920.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 18px;
    opacity: 1;
    position: absolute;
}