.img2 {
    top: 300px;
    left: 500px;
    width: 380px;
    height: 250px;
    background: transparent url('img/piggy-bank-968302_1920.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 18px;
    opacity: 1;
    position: absolute;
}



.img3 {
    top: 300px;
    left: 900px;
    width: 380px;
    height: 250px;
    background: transparent url('img/stock-market-2616931_1920.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 18px;
    opacity: 1;
    position: absolute;
}


.pdf2 {
    top: 900px;
    left: 200px;
    width: 1170px;
    height: 120px;
    background: transparent url('img/noname-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.pdf2-1 {
    left: 70px;
    width: 300px;
    height: 38px;
    font: SemiBold 25px/35px var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-313131);
    text-align: left;
    font: Bold 25px/35px Noto Sans;
    letter-spacing: 0px;
    color: #313131;
    opacity: 1;
    position: absolute;
}

.pdf2-2 {
    top: 50px;
    left: 70px;
    width: 380px;
    height: 24px;
    font: Regular var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-9f9f9f);
    text-align: left;
    font: Regular 18px/24px Noto Sans;
    letter-spacing: 0px;
    color: #9F9F9F;
    opacity: 1;
    position: absolute;
}

.pdf3 {
    top: 1050px;
    left: 100px;
    width: 1000px;
    height: 200px;
    opacity: 1;
    position: absolute;
}

.pdf3-1 {
    left: 100px;
    width: 330px;
    height: 41px;
    font: Bold var(--unnamed-font-size-25)/var(--unnamed-line-spacing-41) var(--unnamed-font-family-noto-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-313131);
    text-align: left;
    font: Bold 25px/41px Noto Sans;
    letter-spacing: 0px;
    color: #313131;
    opacity: 1;
    position: absolute;
}

.img4 {
    top: 100px;
    left: 100px;
    width: 380px;
    height: 250px;
    background: transparent url('img/namecard1.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 18px;
    opacity: 1;
    position: absolute;
}



.img5 {
    top: 100px;
    left: 500px;
    width: 380px;
    height: 250px;
    background: transparent url('img/home-office-599475_1920.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 18px;
    opacity: 1;
    position: absolute;

}


.img6{
    top: 100px;
    left: 900px;
    width: 380px;
    height: 250px;
    background: transparent url('img/home-office-599475_1920.png') 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 18px;
    opacity: 1;
    position: absolute;
}



.bottom {
    top: 1600px;
    left: 0px;
    width: 1550px;
    height: 200px;
    border: 1px solid var(--unnamed-color-c7c7c7);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C7C7C7;
    opacity: 1;
    position: absolute;
}